
<ion-content >
  <div class="board-img">

<!--    <div class="ion-align-items-end"><ion-button fill="outline" size="small">{{'ONBOARDING.SKIP' | translate}}</ion-button></div>-->

  <ion-slides pager="true" >

    <ion-slide class="slider-slide" >
      <ion-col class="slides-padding ">
        <div class="titulo">
          <ion-row><ion-img class="iconslide" src="/assets/icon/icon-addfriends.png"></ion-img></ion-row>
          <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE1' | translate}}</ion-row>
        </div>
        <ion-row class="ion-padding-top">
          <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE1' | translate}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-slide>



    <ion-slide class="slider-slide" >
      <ion-col class="slides-padding ">
        <div class="titulo">
          <ion-row><ion-img class="iconslide" src="/assets/icon/symptoms.png"></ion-img></ion-row>
          <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE2' | translate}}
          </ion-row>
        </div>
        <ion-row class="ion-padding-top">
          <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE2' | translate}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-slide>



    <ion-slide class="slider-slide" >
      <ion-col class="slides-padding ">
        <div class="titulo">
          <ion-row><ion-img class="iconslide" src="/assets/icon/track.png"></ion-img></ion-row>
          <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE3' | translate}}
          </ion-row>
        </div>
        <ion-row class="ion-padding-top">
          <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE3' | translate}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-slide>


    <ion-slide class="slider-slide" >
      <ion-col class="slides-padding ">
        <div class="titulo">
          <ion-row><ion-img class="iconslide" src="/assets/icon/notifications.png"></ion-img></ion-row>
          <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE4' | translate}}
          </ion-row>
        </div>
        <ion-row class="ion-padding-top">
          <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE4' | translate}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-slide>


  </ion-slides>
  </div>
</ion-content>
