<ion-content>
  <div>
<!--    <app-outbreak-simulator [maxHeight]="70"></app-outbreak-simulator>-->
    <div class="board-img">
      <ion-slides pager="true">
        <ion-slide class="slider-slide">
          <app-circle-animation></app-circle-animation>
          <ion-col class="slides-padding ">
            <div>

              <div class="ion-text-right">
                <ion-button (click)="goToHome()" size="small" fill="outline"
                            color="primary">{{'ONBOARDING.SKIP' | translate}}</ion-button>
              </div>
              <ion-row class="titulo">
                <ion-img class="iconslide" src="/assets/icon/icon-addfriends@2x.png"></ion-img>
              </ion-row>
              <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE1' | translate}}</ion-row>
            </div>
            <ion-row class="ion-padding-top">
              <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE1' | translate}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-slide>

        <ion-slide class="slider-slide">
          <app-circle-animation></app-circle-animation>
          <ion-col class="slides-padding ">
            <div>
              <div class="ion-text-right">
                <ion-button (click)="goToHome()" size="small" fill="outline"
                            color="primary">{{'ONBOARDING.SKIP' | translate}}</ion-button>
              </div>
              <ion-row class="titulo">
                <ion-img class="iconslide" src="/assets/icon/track@2x.png"></ion-img>
              </ion-row>
              <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE2' | translate}}</ion-row>
            </div>
            <ion-row class="ion-padding-top">
              <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE2' | translate}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-slide>

        <ion-slide class="slider-slide">
          <app-circle-animation></app-circle-animation>
          <ion-col class="slides-padding ">
            <div>
              <div class="ion-text-right">
                <ion-button (click)="goToHome()" size="small" fill="outline"
                            color="primary">{{'ONBOARDING.SKIP' | translate}}</ion-button>
              </div>
              <ion-row class="titulo">
                <ion-img class="iconslide" src="/assets/icon/symptoms@2x.png"></ion-img>
              </ion-row>
              <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE3' | translate}}</ion-row>
            </div>
            <ion-row class="ion-padding-top">
              <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE3' | translate}}</ion-label>
            </ion-row>
          </ion-col>
        </ion-slide>

        <ion-slide class="slider-slide">
          <app-circle-animation></app-circle-animation>
          <ion-col class="slides-padding ">
            <div>
              <div class="ion-text-right">
                <ion-button (click)="goToHome()" size="small" fill="outline"
                            color="primary">{{'ONBOARDING.SKIP' | translate}}</ion-button>
              </div>
              <ion-row class="titulo">
                <ion-img class="iconslide" src="/assets/icon/notifications@2x.png"></ion-img>
              </ion-row>
              <ion-row class="ion-text-left ion-padding-top titlestyle"> {{'ONBOARDING.TITLE4' | translate}}</ion-row>
            </div>
            <ion-row class="ion-padding-top">
              <ion-label class="detail ion-text-left">{{'ONBOARDING.SUBTITLE4' | translate}}</ion-label>
            </ion-row>

          </ion-col>
        </ion-slide>

      </ion-slides>
    </div>
  </div>
</ion-content>
