<ion-header>
    <app-header
            title="WHY_CONTACT_TRACE"
            [btnBack]="true"
            [defaultHref]="'main/contact-trace/share'"
    ></app-header>
</ion-header>

<ion-content class="ion-padding">

    <div class="ion-padding-horizontal">
        <h4><b>{{'WHY.TITLE' | translate}}</b></h4>
        <p class="subtitle">{{'WHY.SUBTITLE' | translate}}</p>
        <p class="text">{{'WHY.TEXT.LINE1' | translate}}</p>

        <p class="subtitle ion-padding-top">{{'WHY.SUBTITLE2' | translate}}</p>
        <p class="text">{{'WHY.TEXT.LINE2' | translate}}</p>
        <p class="text">{{'WHY.TEXT.LINE3' | translate}}</p>
    </div>

</ion-content>
