<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <h1 class="ion-no-margin">
      Thanks for signing up!
    </h1>
    <p class="ion-no-margin">To help our world...</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-text-center">
    <ion-col size="4" class="links-right ion-no-padding">
      <div class="round-icon active">1</div>
    </ion-col>
    <ion-col size="4"  class="links-right links-left ion-no-padding">
      <div class="round-icon">2</div>
    </ion-col>
    <ion-col size="4"  class="links-left ion-no-padding">
      <div class="round-icon ">3</div>
    </ion-col>
  </ion-row>
</ion-content>
