.title {
  font-weight: bold;
  font-size: 16px;
}
.text {
  font-size: 12px;
  font-weight: 300;
}
.note {
  margin-top: 36px;
  padding: 12px 18px;
  border: 1px solid var(--ion-color-dark);
  border-radius: 8px;
}
