<ion-header class="ion-no-border">
  <app-header title="QUESTIONS_TITLE" [btnBack]="true" [defaultHref]="'../../questions'"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <p><strong>{{question.question[currentLanguage]}}</strong></p>
    <ion-row>
      <ion-col size="3">
        <ion-button [color]="question.selectedYes ? 'dark' : 'medium'" fill="solid" expand="block" (click)="answer(true)">{{'QUESTIONS.YES' | translate}}</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button [color]="question.selectedNo ? 'dark' : 'medium'" fill="solid" expand="block" (click)="answer( false)">{{'QUESTIONS.NO' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="note">
    <p class="title">{{'QUESTIONS.CONTACT_PERSON_DEFINITION.TITLE' | translate}}</p>
    <p class="text" [innerHTML]="'QUESTIONS.CONTACT_PERSON_DEFINITION.TEXT' | translate"></p>
  </div>
</ion-content>
