
<ion-content class="ion-padding fixed-content  ion-text-center align-between">

  <ion-row class="h-85 ion-align-items-center">
    <div>
      <ion-img class="congrats-img" src="assets/img/congrats.png"></ion-img>

      <h3 class="title">{{'CONGRATS.TITLE' | translate}}</h3>

      <p class="subtitle">{{'CONGRATS.SUBTITLE' | translate}}</p>
    </div>
  </ion-row>

  <ion-row class="h-15 ion-align-items-end">
    <ion-col size="12">
      <ion-button  color="dark"  expand="block"  (click)="done()">
        {{'CONGRATS.DONE' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
