.congrats-img{
  max-width: 80%;
  margin: auto;
}
.title {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #000000;
}
