@import "../personal-data.page";

ion-card {
  min-height: 85%;
  margin-left: 2px;
  margin-right: 2px;
  margin-botom: 10px;
}
.fixed-content {
  height: 100%;
  width: 100%;
  padding: 16px;
}
.status-text {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: -0.1px;
}
