
<ion-content class="ion-text-center ion-padding">

  <ion-img class="congrats-img " src="assets/img/congrats.png"></ion-img>

  <ion-title class="ion-padding-top">{{'CONGRATS.TITLE' | translate}}</ion-title> <br>

  <div class="ion-padding-bottom">{{'CONGRATS.SUBTITLE' | translate}}</div>

  <br><br>

<!--  <div class="buttonlast ion-padding">-->
<!--    <ion-button-->
<!--            class="ion-text-capitalize button"-->
<!--            color="dark"-->
<!--            expand="block"-->
<!--    > {{'CONGRATS.DONE' | translate}}</ion-button>-->
<!--  </div>-->


  <div class="buttonlast ion-padding">
    <ion-button
            class="ion-text-capitalize"
            color="dark"
            expand="block"
    > {{'CONGRATS.DONE' | translate}}</ion-button>
  </div>



</ion-content>
