<ion-content class="ion-padding">
<!--  <app-circle-animation></app-circle-animation>-->
  <ion-row class="ion-align-items-end" style="height: 100%;">
    <app-outbreak-simulator [maxHeight]="50" style="margin-left: -16px;"></app-outbreak-simulator>
    <ion-col>
      <ion-row >
        <ion-col class="ion-text-center">
          <img class="logo" src="assets/img/logo.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
        <span class="title-logo">
          {{'LOGIN.TITLE' | translate}}
        </span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button
              class="ion-text-capitalize"
              color="dark"
              expand="block"
              (click)="onLoginFacebook()"> {{'LOGIN.FACEBOOK_BTN' | translate}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
              class="ion-text-capitalize"
              color="dark"
              expand="block"
              (click)="onLoginGoogle()"> {{'LOGIN.GOOGLE_BTN' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
