.logo {
    width: 238px;
}

.title-logo {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--ion-color-dark);
}

.align-end-container {
    margin-top: 70%;
    //position: relative;
    //bottom: 25px;
}

