<ion-header>
  <app-header
      title="CONTACT_TRACE"
      [btnShare]="true" [btnShowDetails]="true"
      (onShare)="onShareContact()" (showDetails)="onShowDetails()"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="gray-blue"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.HEALTHY' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="purple"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.RECOVERED' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="light-blue"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.POSITIVE' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="red"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.HIGH_RISK' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="gold"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.CARRIER' | translate}}</ion-text>
    </ion-col>
  </ion-row>


  <ion-row class="ion-text-center ion-align-items-center" style="height: 80%">
    <ion-col style="z-index: 1">
      <div class="circle gray-blue">SG</div>
    </ion-col>
    <!--div>
      <div class="circle bg-purple" style="position: absolute; top:100px; left: 5px">MD</div>
      <div class="circle bg-purple" style="position: absolute; top:300px; left: 30px">NL</div>
      <div class="circle bg-gray-blue" style="position: absolute; top:100px; left: 180px">LA</div>
      <div class="circle bg-purple" style="position: absolute; top:300px; left: 280px">JM</div>
    </div-->
    <div>
      <div *ngFor="let circle of circles"
           class="circle"
           [ngClass]="circle.color"
           [ngStyle]="{position: 'absolute', top:circle.top, left: circle.left}">{{circle.title}}</div>
    </div>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col>
      <ion-text class="text-footer">{{'CONTACT.TOTAL' | translate}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col size="2" *ngIf="totalGray">
      <ion-icon name="ellipse" color="gray-blue"></ion-icon>
      <ion-text class="margin-dot-number">{{totalGray}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalPurple">
      <ion-icon name="ellipse" color="purple"></ion-icon>
      <ion-text class="margin-dot-number">{{totalPurple}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalLightBlue">
      <ion-icon name="ellipse" color="light-blue"></ion-icon>
      <ion-text class="margin-dot-number">{{totalLightBlue}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalGold">
      <ion-icon name="ellipse" color="gold"></ion-icon>
      <ion-text class="margin-dot-number">{{totalGold}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalRed">
      <ion-icon name="ellipse" color="red"></ion-icon>
      <ion-text class="margin-dot-number">{{totalRed}}</ion-text>
    </ion-col>
  </ion-row>
</ion-footer>
