<ion-header>
  <app-header
      title="CONTACT_TRACE"
      [btnShare]="true" [btnShowDetails]="true"
      (onShare)="onShareContact()" (showDetails)="onShowDetails()"></app-header>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="gray-blue"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.HEALTHY' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="purple"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.RECOVERED' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="light-blue"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.POSITIVE' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="red"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.HIGH_RISK' | translate}}</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-icon name="ellipse" color="gold"></ion-icon>
      <br>
      <ion-text class="status-text ion-text-uppercase">{{'CONTACT.CARRIER' | translate}}</ion-text>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content #content2 class="ion-padding">


  <!--ion-row  id="content2"  class="ion-text-center ion-align-items-center" style="height: 80%">
    <ion-col style="z-index: 1">
      <div class="circle gray-blue">SG</div>
    </ion-col>


  </ion-row-->

  <div>
    <div class="circle-friend gray-blue" [ngStyle]="{position: 'absolute',
     top:centerY + 'px',
     left: centerX +'px',
     width: widthBase,
     fontSize: textBase,
     height: widthBase,
     lineHeight: widthBase}">SG
    </div>
    <div *ngFor="let circle of circles"
         class="circle-friend"
         [ngClass]="circle.color"
         [ngStyle]="{position: 'absolute',
         top:circle.top,
         left: circle.left,
         fontSize: textBase,
         width: widthBase,
         height: widthBase,
         lineHeight: widthBase}">{{circle.title}}</div>
  </div>

</ion-content>

<ion-footer style="height: 50px">
  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col>
      <ion-text class="text-footer">{{'CONTACT.TOTAL' | translate}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding ion-no-margin">
    <ion-col size="2" *ngIf="totalGray">
      <ion-icon name="ellipse" color="gray-blue"></ion-icon>
      <ion-text class="margin-dot-number">{{totalGray}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalPurple">
      <ion-icon name="ellipse" color="purple"></ion-icon>
      <ion-text class="margin-dot-number">{{totalPurple}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalLightBlue">
      <ion-icon name="ellipse" color="light-blue"></ion-icon>
      <ion-text class="margin-dot-number">{{totalLightBlue}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalGold">
      <ion-icon name="ellipse" color="gold"></ion-icon>
      <ion-text class="margin-dot-number">{{totalGold}}</ion-text>
    </ion-col>
    <ion-col size="2" *ngIf="totalRed">
      <ion-icon name="ellipse" color="red"></ion-icon>
      <ion-text class="margin-dot-number">{{totalRed}}</ion-text>
    </ion-col>
  </ion-row>
</ion-footer>
