<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="contact-trace">
      <ion-icon name="at-circle-outline" src="assets/icon/track_icon.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="invite">
      <ion-icon src="assets/icon/addfriends_icon.svg"></ion-icon>
    </ion-tab-button>
<!--    <ion-tab-button tab="symptoms">-->
<!--      <ion-icon src="assets/icon/symptoms_icon.svg"></ion-icon>-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
