.description-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.policies-text {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
}
