<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!--            <ion-back-button color="primary" [defaultHref]="''" (click)="goBack()"></ion-back-button>-->
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" color="primary" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-label color="primary"><b>{{'QUESTIONS.TITLE' | translate}}</b></ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
    <p *ngIf="showExplanation()">{{'QUESTIONS.EXPLANATION' | translate}}</p>
    <div>
        <p><strong>{{currentQuestion.question[currentLanguage]}}</strong></p>
        <p *ngIf="currentQuestion.comment"><i>{{currentQuestion.comment[currentLanguage]}}</i></p>
        <ion-buttons *ngIf="currentQuestion.simpleAnswer">
            <ion-button [color]="currentQuestion.selectedYes ? 'dark' : 'medium'" fill="solid" (click)="answer(true)">{{'QUESTIONS.YES' | translate}}</ion-button>
            <ion-button [color]="currentQuestion.selectedNo ? 'dark' : 'medium'" fill="solid" (click)="answer( false)">{{'QUESTIONS.NO' | translate}}</ion-button>
        </ion-buttons>

        <div *ngIf="currentQuestion.checkboxAnswer">
            <ion-item *ngFor="let opt of currentQuestion.options" lines="none" detail="false">
                <ion-checkbox [(ngModel)]="opt.selected"
                              (ionChange)="changeChecked($event, opt)"
                              [disabled]="opt.disabled">
                </ion-checkbox>
                <p class="ion-margin-start">{{opt.text[currentLanguage]}}</p>
            </ion-item>
            <ion-button (click)="next()">Sacar boton</ion-button>
        </div>
    </div>

</ion-content>
