<ion-header class="ion-no-border">
    <app-header title="QUESTIONS_TITLE" [defaultHref]="'personal-data/intake'" [btnBack]="true"></app-header>
</ion-header>

<ion-content  class="ion-padding">
    <p *ngIf="showExplanation()">{{'QUESTIONS.EXPLANATION' | translate}}</p>
    <div>
        <p><strong>{{currentQuestion.question[currentLanguage]}}</strong></p>
        <p *ngIf="currentQuestion.comment"><i>{{currentQuestion.comment[currentLanguage]}}</i></p>
        <ion-row *ngIf="currentQuestion.simpleAnswer">
            <ion-col size="3">
                <ion-button expand="block" [color]="currentQuestion.selectedYes ? 'dark' : 'medium'" fill="solid" (click)="answer(true)">{{'QUESTIONS.YES' | translate}}</ion-button>
            </ion-col>

            <ion-col size="3">
                <ion-button expand="block" [color]="currentQuestion.selectedNo ? 'dark' : 'medium'" fill="solid" (click)="answer( false)">{{'QUESTIONS.NO' | translate}}</ion-button>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
