<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-text-center ion-padding-horizontal">
      <ion-col size="4" class="ion-no-padding progressBar">
        <div class="round-icon" [ngClass]="getColor(1)" (click)="navigateTo('info')">
          <p *ngIf="!isCompleted(1)" class="ion-no-margin">1</p>
          <ion-icon color="success" *ngIf="isCompleted(1)" name="checkmark-sharp" ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4"  class="ion-no-padding progressBar">
        <div class="round-icon" [ngClass]="getColor(2)" (click)="navigateTo('intake')">
          <p *ngIf="!isCompleted(2)" class="ion-no-margin">2</p>
          <ion-icon color="success" *ngIf="isCompleted(2)" name="checkmark-sharp"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4"  class="ion-no-padding progressBar last">
        <div class="round-icon" [ngClass]="getColor(3)" (click)="navigateTo('health-status')">
          <p *ngIf="!isCompleted(3)" class="ion-no-margin">3</p>
          <ion-icon color="success" *ngIf="isCompleted(3)" name="checkmark-sharp"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-title class="ion-padding-top">
      <ion-label color="primary" class="ion-text-wrap">
        <b>
          {{'HEADER.'+ title | translate}}
          {{name ? name+'!' : ''}}<br>
          {{(subTitle ? 'HEADER.'+ subTitle: '') | translate }}
        </b>
      </ion-label>
    </ion-title>

  </ion-toolbar>
</ion-header>
